@font-face {
	font-family: "Adventure";
	src: url("/resources/fonts/adventure/Adventure.otf") format("opentype");
}

.noselect {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Mobile */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
	background-color: #181a1b;
	font-family: "Helvetica-Normal", sans-serif;
	color: white;
	white-space: nowrap;
	letter-spacing: 0.2rem;
}

body::after {
	content: "";
	background: url("/resources/images/background.jpg");
	background-size: cover;
	opacity: 0.75;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

div.top {
	font-family: "Adventure";
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

div.title {
	font-size: 90px;
	font-weight: bold;
	margin-bottom: 1rem;
	background-image: linear-gradient(180deg, #bd3200, #fff52d);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

div.desc {
	font-size: 35px;
	text-align: center;
	color: #fff52d;
}

div.center {
	width: 100%;
	position: absolute;
	z-index: 999999;
	top: 50%;
	left: 50%;
	right: 0;
	transform: translate(-50%, -50%);
	text-align: center;
	display: table;
}

div.phrase {
	font-family: "Adventure";
	width: 100%;
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 1.75rem;

	background-image: linear-gradient(180deg, #bd3200, #fff52d);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button {
	font-family: "Adventure";
	font-size: 25px;
	background-color: transparent;
	color: #fff52d;
	border-radius: 10px;
	border: 1px solid;
	display: inline-block;
	cursor: pointer;
	padding: 5px 20px;
	text-decoration: none;
}

.button:hover {
	color: #bd3200;
}

.button:active {
	color: #fff52d;

	position: relative;
}

.button:focus {
	outline-width: 0;
}

div.bottom {
	font-family: "Adventure";
	font-size: 25px;
	position: absolute;
	bottom: 0.5rem;
	left: 50%;
	transform: translate(-50%, -20%);
	text-align: center;
	color: #fff52d;
}

a {
	color: inherit;
	text-decoration: none;
}

@media only screen and (max-device-width: 500px) {
	body::after {
		background: url("/resources/images/background-mobile.jpg");
		background-size: cover;
		opacity: 0.75;
	}

	div.top {
		font-size: 30px;
		top: 12.5%;
	}

	div.desc {
		font-size: 16px;
		margin-top: -12.5px;
	}

	div.center {
		top: 50%;
	}

	div.phrase {
		font-family: "Adventure";
		font-weight: bold;
		font-size: 30px;
		white-space: normal;
		line-height: 150%;
	}

	.button {
		font-family: "Adventure";
		font-weight: 900;
		font-size: 15px;
		color: #ffffff94;
		border-radius: 20px;
		border: 1px solid;
		cursor: pointer;
		padding: 5px 30px;
		margin-top: 10px;
		text-decoration: none;
	}

	div.bottom {
		font-weight: normal;
		font-size: 16px;
	}
}
